# 가상환경 생성 및 설정 방법
# 1. 가상환경 생성
# python -m venv venv

# 2. 가상환경 활성화
# Windows:
# venv\Scripts\activate
# Linux/Mac:
# source venv/bin/activate

# 3. pip 업그레이드
# python -m pip install --upgrade pip

# 4. 필요한 패키지 설치
# pip install -r requirements.txt

# 5. 가상환경 비활성화 (작업 완료 후)
# deactivate

# 주의사항:
# - 가상환경 폴더(venv)는 .gitignore에 추가하여 git에 업로드하지 않도록 설정
# - 프로젝트 작업 시 항상 가상환경을 활성화한 상태에서 작업
# - 새로운 패키지 설치 시 requirements.txt 업데이트 필요
#   (pip freeze > requirements.txt)


absl-py==2.2.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
astunparse==1.6.3
bidict==0.23.1
blinker==1.9.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
Django==5.1.7
filelock==3.18.0
Flask==3.1.0
Flask-SocketIO==5.3.6
flatbuffers==25.2.10
fonttools==4.56.0
fsspec==2025.3.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.71.0
h11==0.14.0
h5py==3.13.0
idna==3.10
image==1.5.33
itsdangerous==2.2.0
Jinja2==3.1.6
keras==3.9.1
kiwisolver==1.4.8
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mdurl==0.1.2
ml_dtypes==0.5.1
mpmath==1.3.0
mysql-connector-python==9.2.0
namex==0.0.8
networkx==3.4.2
numpy==2.1.1
opencv-python==4.11.0.86
opt_einsum==3.4.0
optree==0.14.1
packaging==24.2
pandas==2.2.3
pillow==11.1.0
protobuf==5.29.4
psutil==7.0.0
py-cpuinfo==9.0.0
pycparser==2.22
Pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-engineio==4.11.2
python-socketio==5.12.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
rich==13.9.4
scipy==1.15.2
seaborn==0.13.2
simple-websocket==1.1.0
six==1.17.0
sqlparse==0.5.3
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.5.0
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
typing_extensions==4.13.0
tzdata==2025.2
ultralytics==8.3.97
ultralytics-thop==2.0.14
urllib3==2.3.0
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
