<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <script>
        window.onload = function () {
            // 페이지 로드 시 필요한 작업을 여기에 추가
        };
    </script>
</head>
<body>
    <div class="container" id="container">
        <div class="pass-container">
            <form action="/find_password" method="post">
                <h2>비밀번호 찾기</h2>
                <input type="text" name="username" placeholder="이름" required />
                <input type="text" name="userid" placeholder="아이디" required />
                <div class="pass-phone-inputs">
                    <input type="text" name="phone1" value="010" maxlength="3" 
                        onfocus="if(this.value === '010') this.value='';" 
                        onblur="if(this.value === '') this.value='010';" required>-
                    <input type="text" name="phone2" maxlength="4" required />-
                    <input type="text" name="phone3" maxlength="4" required />
                </div>
                <div class="button_area">
                    <button type="submit" class="find_pass">비밀번호 찾기</button>
                    <a class="back" href="/login">이전으로</a>
                </div>
            </form>
        </div>
    </div>
    {% if alert_message %}
        <script type="text/javascript">
            alert("{{ alert_message }}");
        </script>
    {% endif %}
</body>


</html>